@charset "UTF-8";
/* --------------------------------------------  Basics -------------------------------------------- */
body {
  padding-top: 3.375rem;
  color: #808080;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 700 !important;
}

h1 {
  line-height: 1;
}

p {
  color: gray !important;
}

li {
  color: #808080;
}

#body-row {
  margin-left: 0;
  margin-right: 0;
}

.mt-4em {
  margin-top: 4em;
}

.mt--1 {
  margin-top :-1em;
}

/* CV and Project NavBar Style */
.navBarStyle{
	font-family:Arial;
  font-size:18px;
}

/* -------------------------------------------- Resume -------------------------------------------- */
section.resume-section .resume-section-content {
  width: 100%;
}

.resume-section-bg {
  background-color: #F5F5F5;
}

section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 75rem;
}

@media (min-width: 992px) {
  /* Every Section Style */
  section.resume-section {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* --------------------------------------------- SideBar Navigation -------------------------------------------- */
#sidebar-container {
  min-height: 100vh;
  background-color: #333;
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}

.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item */
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}

.sidebar-separator {
  background-color: #333;
  height: 25px;
}

.logo-separator {
  background-color: #333;
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  /* text-transform: uppercase; */
}
#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}


/* --------------------------------------------  Interest Section -------------------------------------------- */
#interests img{
  width:100%;
  height:90%
}

@media (max-width: 769px) {
  #interests img{
    width:100%;
    height:80%
  }
}

@media (max-width: 530px) {
  #interests img{
    width:100%;
    height:70%
  }
}

@media (max-width: 350px) {
  #interests img{
    width:100%;
    height:60%
  }
}

/* -------------------------------------------- Experience Section -------------------------------------------- */
#experience img {
  width:50px;
  height:55px;
}

/* -------------------------------------------- Custom Css -------------------------------------------- */

#CV {
  font-size: 30px;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  font-size: 1.5rem;
}

/* Justify Aligned Text */
.justify-center{
  text-align:justify; 
}

@media (min-width: 1000px) {
  .justify-center{
    text-align:justify; 
  }
}
@media (min-width: 992px) {
  .justify-center{
    text-align:justify; 
  }
}

/* SubTitle For Medias */
.short_desc {
  font-family:Arial;
  text-align:center;
  margin-top:0.5em;
  font-size: 14px;
}
#experience h3 {
  margin-top: 1.2em;
  margin-bottom: 1em;
}

/* -------------------------------------------- Refree Section -------------------------------------------- */
#refrees a {
  color:blue;
}







@charset "UTF-8";
/* --------------------------------------------  Basics -------------------------------------------- */
body {
  padding-top: 3.375rem;
  color: #808080;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 700 !important;
}

h1 {
  line-height: 1;
}

p {
  color: gray !important;
}

li {
  color: #808080;
}

#body-row {
  margin-left: 0;
  margin-right: 0;
}

.mt-4em {
  margin-top: 4em;
}

.mt--1 {
  margin-top :-1em;
}

/* CV and Project NavBar Style */
.navBarStyle{
	font-family:Arial;
  font-size:18px;
}

/* -------------------------------------------- Resume -------------------------------------------- */
section.resume-section .resume-section-content {
  width: 100%;
}

.resume-section-bg {
  background-color: #F5F5F5;
}

section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 75rem;
}

@media (min-width: 992px) {
  /* Every Section Style */
  section.resume-section {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* --------------------------------------------- SideBar Navigation -------------------------------------------- */
#sidebar-container {
  min-height: 100vh;
  background-color: #333;
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}

.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item */
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}

.sidebar-separator {
  background-color: #333;
  height: 25px;
}

.logo-separator {
  background-color: #333;
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  /* text-transform: uppercase; */
}
#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}


/* --------------------------------------------  Interest Section -------------------------------------------- */
#interests img{
  width:100%;
  height:90%
}

@media (max-width: 769px) {
  #interests img{
    width:100%;
    height:80%
  }
}

@media (max-width: 530px) {
  #interests img{
    width:100%;
    height:70%
  }
}

@media (max-width: 350px) {
  #interests img{
    width:100%;
    height:60%
  }
}

/* -------------------------------------------- Experience Section -------------------------------------------- */
#experience img {
  width:50px;
  height:55px;
}

/* -------------------------------------------- Custom Css -------------------------------------------- */

#CV {
  font-size: 30px;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  font-size: 1.5rem;
}

/* Justify Aligned Text */
.justify-center{
  text-align:justify; 
}

@media (min-width: 1000px) {
  .justify-center{
    text-align:justify; 
  }
}
@media (min-width: 992px) {
  .justify-center{
    text-align:justify; 
  }
}

/* SubTitle For Medias */
.short_desc {
  font-family:Arial;
  text-align:center;
  margin-top:0.5em;
  font-size: 14px;
}

#experience h3 {
  margin-top: 1.2em;
  margin-bottom: 1em;
}

/* -------------------------------------------- Refree Section -------------------------------------------- */
#refrees a {
  color:blue;
}
/* -------------------------------------------- Refree -------------------------------------------- */

#footer {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: center;
	position: relative;
	margin: 0;
	line-height: 1em;
	padding: 1.5em;
	background: #39454b;
	color: rgba(185, 186, 187, 0.5);
	overflow: hidden;
}

#footer > * {
	margin-bottom: 0;
}

#footer a {
	color: inherit;
}

	#footer a:hover {
		color: #b9babb;
	}

#footer ul.menu {
	margin: 0;
}

	#footer ul.menu li {
		border-left-color: rgba(185, 186, 187, 0.2);
		font-size: 0.9em;
	}

@media screen and (max-width: 1000px) {

	#footer {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: center;
		-webkit-justify-content: center;
    -ms-justify-content: center;
    text-align:center;
	  justify-content:center;
		line-height: 1.5em;
		text-align: center;
		padding: 2em 1em 2em 1em;
	}

	#footer > * {
		margin: 0 0 1em 0;
	}

}

@media screen and (max-width: 736px) {

	#footer ul.menu li {
		border-left: none;
		display: block;
		line-height: inherit;
		margin: 0.25em 0 0 0;
		padding: 0.25em 0 0 0;
	}

	#footer ul.menu li:first-child {
		margin-top: 0;
		padding-top: 0;
	}

}









