
/* ---------------------------------- Admin and DataTable ---------------------------------- */
$baseColor: #212529;

.page-item.active .page-link { 
    color: $baseColor;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    background-color: #e9ecef;
    color: $baseColor;
}